.page[b-idx9frpvsx] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-idx9frpvsx] {
    flex: 1;
}

.sidebar[b-idx9frpvsx] {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

.top-row[b-idx9frpvsx] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-idx9frpvsx]  a, .top-row .btn-link[b-idx9frpvsx] {
        white-space: nowrap;
        margin-left: 1.5rem;
    }

    .top-row a:first-child[b-idx9frpvsx] {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row:not(.auth)[b-idx9frpvsx] {
        display: none;
    }

    .top-row.auth[b-idx9frpvsx] {
        justify-content: space-between;
    }

    .top-row a[b-idx9frpvsx], .top-row .btn-link[b-idx9frpvsx] {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-idx9frpvsx] {
        flex-direction: row;
    }

    .sidebar[b-idx9frpvsx] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-idx9frpvsx] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row[b-idx9frpvsx], article[b-idx9frpvsx] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
    .full-page[b-idx9frpvsx] {
        display: flex;
        flex-direction: column;
        min-height: 100vh; /* حداقل ارتفاع صفحه برابر با ارتفاع صفحه نمایش باشد */
    }

    .mud-main-content[b-idx9frpvsx] {
        flex-grow: 1; /* محتوای اصلی صفحه فضای باقی‌مانده را اشغال می‌کند */
    }

    .footer[b-idx9frpvsx] {
        background-color: #f1f1f1;
        text-align: center;
        padding: 10px;
        margin-top: auto; /* این باعث می‌شود که فوتر همیشه در پایین صفحه قرار گیرد */
    }
}
